<ion-header class="ion-no-border" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Regresar " defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title >{{ titulo }}</ion-title>
  </ion-toolbar>
</ion-header>