<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>
      News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <app-noticias [noticias]="noticias"></app-noticias>

  <ion-infinite-scroll threshold="150px" position="bottom" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>