<app-header titulo="Listas - Sliding"></app-header>

<ion-content>

  <ion-list #lista>

    <ion-item-sliding *ngFor="let usuario of usuarios | async">
      <ion-item>
        <ion-label>
          <h3>{{ usuario.name }}</h3>
          <p>
            {{ usuario.email }}
          </p>
        </ion-label>
        <ion-label slot="end">{{ usuario.phone }}</ion-label>
      </ion-item>

      <ion-item-options side="start">
        <ion-item-option (click)="favorite(usuario)">
          <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-item-option>
        <ion-item-option color="secondary" (click)="share(usuario)">
          <ion-icon slot="icon-only" name="share"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="borrar(usuario)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>