<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Botones</ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-icon name="star"></ion-icon>
      </ion-button>
      <ion-button color="primary">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Botones normales -->
  <ion-button size="small" expand="full">Small</ion-button>
  <ion-button size="default" expand="full">Default</ion-button>
  <ion-button size="large" expand="full">Large</ion-button>

  <!-- Anchor -->
  <ion-button class="top-20" expand="full" routerLink="/alert" color="tertiary">
    Anchor
  </ion-button>

  <ion-row class="top-20">
    <ion-col>
      <ion-button expand="full" routerLink="/avatar" color="tertiary">
        Avatar
      </ion-button>
    </ion-col>

    <ion-col>
      <ion-button expand="full" routerLink="/action-sheet" color="tertiary">
        Action-sheet
      </ion-button>
    </ion-col>
  </ion-row>

  <!-- Fill -->

  <ion-button class="top-20" fill="clear" >Clear</ion-button>
  <ion-button class="top-20" fill="outline" >Clear</ion-button>
  <ion-button class="top-20" fill="solid" >Clear</ion-button>

</ion-content>