<app-header titulo="Modal"></app-header>

<ion-content class="ion-padding">
  <ion-button (click)="abrirModal()" expand="full">
    Abrir Modal
  </ion-button>

  <p>
    Javier - Bolivia
  </p>
</ion-content>
