<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="Regresar" defaultHref="/"></ion-back-button>
    </ion-buttons>
    
    <ion-title>action-sheet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="full" color="primary" (click)="presentActionSheet()">
    Mostrar Action Button
  </ion-button>
</ion-content>
