<ion-content>

  <ion-slides [options]="swiperOpts">
    <ion-slide>

      <ion-button (click)="scan()" 
                  expand="full" 
                  size="large"
                  shape="round"
                  fill="outline">
                  ScanCode
      </ion-button>

    </ion-slide>
  </ion-slides>

</ion-content>