<app-header titulo="Card"></app-header>

<ion-content>
  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad illo libero eius provident optio quisquam modi molestias velit, sequi culpa quo, fugit voluptatem nemo beatae architecto, itaque quod impedit possimus?
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui repellendus reprehenderit placeat cupiditate vel odit numquam non sed. Autem ipsam quas recusandae assumenda sequi minima ad vitae veniam. Aperiam, et!
    </ion-card-content>
  </ion-card>
</ion-content>
