<app-header titulo="ProgressBar and Range"></app-header>

<ion-content class="ion-padding">

  <ion-progress-bar [value]="porcentaje"></ion-progress-bar>

  <ion-list>
    <ion-item>
      <ion-range
        min="0" max="100"
        pin="true"
        color="tertiary"
        (ionChange)="cambioRango($event)">
        <ion-label slot="start">0</ion-label>
        <ion-label slot="end">100</ion-label>
      </ion-range>
    </ion-item>
  </ion-list>
</ion-content>
