
<ion-content>

  <div id='map'></div>

  <ion-back-button defaultHref="/tabs/tab2"
                    text=""
                    class="boton-regresar"
                    icon="close-circle"></ion-back-button>

</ion-content>
