<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{ nombre }} -- {{ pais }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="salirSinArgumentos()" expand="full" color="primary" >
    Salir sin argumentos
  </ion-button>

  <ion-button (click)="salirConArgumentos()" expand="full" color="secondary" >
    Salir con argumentos
  </ion-button>

</ion-content>
