<app-header [titulo]="titulo || 'Alert Page'"></app-header>

<ion-content class="ion-padding">
  <ion-button expand="full" color="primary" (click)="presentAlert()">
    Mostrar alerta
  </ion-button>

  <ion-button expand="full" color="secondary" (click)="presentAlertPrompt()">
    Mostrar input
  </ion-button>
</ion-content>  