<app-header titulo="Refresher"></app-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <h1 *ngIf="items.length === 0" class="animated fadeIn fast">Pull to refresh</h1>

  <ion-list *ngIf="items.length > 0"
    class="animated fadeIn fast">
    <ion-item *ngFor="let item of items; let i = index">
      Item {{ i + 1 }}
    </ion-item>
  </ion-list>
</ion-content>