<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>

  <ion-segment scrollable mode="md" color="primary" [(ngModel)]="inicial" (ionChange)="cambioCategoria( $event )">
    <ion-segment-button *ngFor="let categoria of categorias" [value]="categoria" mode="md">
      <ion-label>{{ categoria }}</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content color="dark">

  <app-noticias [noticias]="noticias "></app-noticias>

  <ion-infinite-scroll threshold="150px" position="bottom" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>