<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-slides [options]="sliderOpts" *ngIf="dataLocalService.noticias.length === 0">
    <ion-slide>
      <ion-label>No hay favoritos</ion-label>
    </ion-slide>
  </ion-slides>

  <app-noticias [enFavoritos]="true" *ngIf="dataLocalService.noticias.length > 0" [noticias]="dataLocalService.noticias"></app-noticias>

</ion-content>