<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>List - Reorder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-reorder-group [disabled]="false"
                      (ionItemReorder)="reorder($event)">
      <ion-item *ngFor="let personaje of personajes">
        <ion-label>{{ personaje }}</ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>

  <ion-button (click)="onClick()" expand="full" shape="round">
    Guardar
  </ion-button>

</ion-content>