<ion-slides [options]="slideOpts">
  <ion-slide *ngFor="let pelicula of peliculas | filtroImagen">
    <ion-card (click)="verDetalle( pelicula.id )" >
      <ion-img [src]="pelicula.backdrop_path | imagen"></ion-img>
    </ion-card>
  </ion-slide>
</ion-slides>