<ion-card color="dark">
  <ion-card-header>
    <ion-card-subtitle>
      <span class="text-primary">{{ indice + 1 }}. </span>
      <span class="noticia-source-name">{{ noticia.source.name }}
      </span>
      <div class="noticia-more">
        <ion-button (click)="lanzarMenu()"fill="clear" shape="round">
          <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </div>

    </ion-card-subtitle>
    <ion-card-title (click)="abrirNoticia()">{{ noticia.title }}</ion-card-title>
  </ion-card-header>

  <ion-img (click)="abrirNoticia()" *ngIf="noticia.urlToImage" [src]="noticia.urlToImage" class="animated fadeIn fast"></ion-img>
  <ion-card-content>
    {{ noticia.content }}
  </ion-card-content>
</ion-card>