<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Peliculas Nuevas</h3>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div *ngFor="let pelicula of favoritoGenero">
    <ion-grid *ngIf="pelicula.pelis.length > 0">
      <ion-row>
        <ion-col>
          <h4> {{ pelicula.genero }} </h4>
        </ion-col>
      </ion-row>
      <app-slideshow-poster [peliculas]="pelicula.pelis"></app-slideshow-poster>  
    </ion-grid>


  </div>

</ion-content>